image-resizer {
  display: block;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  .unsupported {

  }
  .supported {

  }
  .mask {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: move;
    svg {
      display: block;
      height: 100%;
      opacity: .4;
      position: relative;
      width: 100%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      max-height: none;
      max-width: none;
      width: 100%;
    }
  }
}
